@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
header {
  heiht: 88px;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 1150px;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
nav li {
  box-sizing: border-box;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.nav__item_logo {
  order: 1;
  border-bottom: 1px solid #ececec;
  padding: 9px 94px 7px  40px;
  flex: 20%;
  height: 89px;
}
.nav__item_logo img:hover {
  opacity: 0.6;
}
.nav__item_logo img:active {
  opacity: 0.3;
}
.nav__item_catalog {
  padding: 31px 35px 35px 50px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  flex: 20%;
  height: 89px;
}
.nav__item_catalog a:hover {
  opacity: 0.6;
}
.nav__item_catalog a:active {
  opacity: 0.3;
}
.nav__item_order {
  padding: 31px 35px 0 35px;
  height: 89px;
  border-bottom: 1px solid #ececec;
  flex: 20%;
}
.nav__item_order a:hover {
  opacity: 0.6;
}
.nav__item_order a:active {
  opacity: 0.3;
}
.nav__item_search {
  order: 2;
  padding: 36px 33px 34px 33px;
  border-bottom: 1px solid #ececec;
  flex: 7%;
  height: 89px;
}
.nav__item_search a {
  opacity: 0.2;
}
.nav__item_search a:hover {
  opacity: 1;
  fill: #63d2bb;
}
.nav__item_search a:active {
  opacity: 0.3;
  fill: #63d2bb;
}
.nav__item_cart {
  order: 2;
  padding: 35px 50px 0 30px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  flex: 28%;
  height: 89px;
}
.nav__item_cart span {
  opacity: 1;
  position: relative;
  top: -3px;
}
.nav__item_cart svg {
  opacity: 0.2;
  margin-right: 25px;
}
.nav__item_cart:hover span {
  opacity: 0.6;
}
.nav__item_cart:hover svg {
  opacity: 1;
  fill: #63d1bb;
}
.nav__item_cart:active span {
  opacity: 0.3;
}
.nav__item_cart:active svg {
  opacity: 0.3;
  fill: #63d1bb;
}
.nav__item_new {
  order: 2;
  height: 60px;
  padding: 20px 0 20px 50px;
  font-size: 15px;
}
.nav__item_new:hover {
  opacity: 0.6;
}
.nav__item_new:active {
  opacity: 0.3;
}
.nav__item_sale {
  order: 2;
  height: 60px;
  padding: 20px 0 20px 66px;
  font-size: 15px;
}
.nav__item_sale:hover {
  opacity: 0.6;
}
.nav__item_sale:active {
  opacity: 0.3;
}
.nav__item_delivery {
  order: 2;
  height: 60px;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  position: relative;
  font-weight: normal;
  left: 462px;
}
.description {
  background: #f9f9f9 url(/img/hero_desktop.jpg) no-repeat;
  height: 1600px;
  width: 1400px;
}
