* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  list-style: none;
}
.main__title {
  font-size: 53px;
  line-height: 57px;
}
header {
  heiht: 89px;
}
@media (max-width: 767px) {
  .header__page_close {
    height: 80px;
  }
  .header__page_open {
    height: 396px;
  }
}
.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
.nav__item {
  z-index: 10;
  opacity: 0.99;
}
.container {
  margin: 0 auto;
  width: 1150px;
}
@media (max-width: 1149px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}
.nav__button_menu {
  display: none;
  position: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .nav__button_menu {
    display: block;
    position: absolute;
    top: 32px;
    right: 30px;
  }
  .nav__button_menu_close {
    background: url(/img/icon_menu_open.svg) no-repeat;
    width: 20px;
    height: 14px;
  }
  .nav__button_menu_open {
    background: url(/img/icon_menu_close.svg) no-repeat;
    width: 21px;
    height: 21px;
    top: 28px;
  }
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
nav li {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.nav__item_catalog a,
.nav__item_order a,
.nav__item_cart a {
  padding: 31px 0 33px 0;
}
.nav__item_logo {
  order: 1;
  border-bottom: 1px solid #ececec;
  padding: 9px 94px 7px 32px;
  flex: 23%;
  height: 89px;
  display: flex;
  position: relative;
}
.nav__item_logo a:hover {
  opacity: 0.6;
}
.nav__item_logo a:active {
  opacity: 0.3;
}
@media (max-width: 1149px) {
  .nav__item_logo {
    order: 0;
    flex: 48%;
    border-bottom: 1px solid #ececec;
    padding: 22px 0px 0px  48px;
    width: 370px;
    height: 89px;
  }
}
@media (max-width: 767px) {
  .nav__item_logo {
    order: 0;
    flex: 100%;
    height: 80px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 21px 0 23px 0;
    justify-content: center;
  }
}
.nav__item_catalog {
  display: flex;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  flex: 20%;
  height: 89px;
}
.nav__item_catalog a {
  padding-left: 50px;
}
.nav__item_catalog a:hover {
  opacity: 0.6;
}
.nav__item_catalog a:active {
  opacity: 0.3;
}
@media (max-width: 1149px) {
  .nav__item_catalog {
    order: 2;
    padding: 0;
    height: 60px;
    border: none;
    font-size: 15px;
    display: flex;
    flex: 26%;
  }
  .nav__item_catalog a {
    padding: 20px 0 20px 50px;
  }
}
@media (max-width: 767px) {
  .nav__item_catalog {
    order: 1;
    padding: 6px 0 0 25px;
    height: 79px;
    border-bottom: 1px solid #ececec;
    font-size: 17px;
    flex: 100%;
  }
}
.nav__item_order {
  display: flex;
  height: 89px;
  border-bottom: 1px solid #ececec;
  flex: 20%;
}
.nav__item_order a {
  padding-left: 35px;
}
.nav__item_order a:hover {
  opacity: 0.6;
}
.nav__item_order a:active {
  opacity: 0.3;
}
@media (max-width: 1149px) {
  .nav__item_order {
    order: 2;
    padding: 0;
    height: 60px;
    border: none;
    font-size: 15px;
    flex: 26%;
  }
  .nav__item_order a {
    padding: 20px 0 20px 18px;
  }
}
@media (max-width: 767px) {
  .nav__item_order {
    order: 2;
    padding: 6px 0 0 57px;
    height: 79px;
    border-bottom: 1px solid #ececec;
    font-size: 17px;
    flex: 100%;
  }
}
.nav__item_search {
  order: 2;
  display: flex;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  flex: 6%;
  height: 89px;
}
.nav__item_search a {
  padding: 35px 32px 0px 32px;
  opacity: 0.2;
}
.nav__item_search a:hover {
  opacity: 1;
  fill: #63d2bb;
}
.nav__item_search a:active {
  opacity: 0.3;
  fill: #63d2bb;
}
.nav__item_search a span {
  display: none;
}
@media (max-width: 1149px) {
  .nav__item_search {
    order: 1;
    flex: 10%;
    padding: 36px 32px 33px 34px;
    padding: 0;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}
@media (max-width: 767px) {
  .nav__item_search {
    order: 3;
    height: 79px;
    border-bottom: 1px solid #ececec;
    border-left: none;
    border-right: none;
    font-size: 17px;
    flex: 100%;
  }
  .nav__item_search a {
    padding: 31px 0 0 32px;
    opacity: 1;
  }
  .nav__item_search a svg {
    opacity: 0.2;
  }
  .nav__item_search a span {
    display: inline;
    position: relative;
    left: 19px;
    top: -5px;
  }
  .nav__item_search a:hover {
    opacity: 0.6;
  }
  .nav__item_search a:hover svg {
    opacity: 1;
    fill: #63d1bb;
  }
  .nav__item_search a:active a {
    opacity: 0.3;
  }
  .nav__item_search a:active svg {
    opacity: 0.3;
    fill: #63d1bb;
  }
}
.nav__item_cart {
  order: 2;
  display: flex;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  flex: 27%;
  height: 89px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.nav__item_cart a {
  opacity: 1;
  padding-right: 50px;
}
.nav__item_cart svg {
  opacity: 0.2;
  position: relative;
  top: 3px;
  left: 34px;
}
.nav__item_cart span {
  position: relative;
  left: 64px;
}
.nav__item_cart a:hover {
  opacity: 0.6;
}
.nav__item_cart a:hover svg {
  opacity: 1;
  fill: #63d1bb;
}
.nav__item_cart a:active a {
  opacity: 0.3;
}
.nav__item_cart a:active svg {
  opacity: 0.3;
  fill: #63d1bb;
}
@media (max-width: 1149px) {
  .nav__item_cart {
    order: 1;
    flex: 40%;
    padding: 0;
    border-left: none;
    border-bottom: 1px solid #ececec;
  }
}
@media (max-width: 767px) {
  .nav__item_cart {
    order: 4;
    height: 79px;
    border-bottom: 1px solid #ececec;
    font-size: 17px;
    flex: 100%;
    justify-content: flex-start;
  }
  .nav__item_cart a {
    padding: 31px 0 0 32px;
  }
  .nav__item_cart a svg {
    opacity: 0.2;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .nav__item_cart a span {
    position: relative;
    left: 18px;
    top: -4px;
  }
}
.nav__item_new {
  order: 2;
  height: 60px;
  font-size: 15px;
  padding: 20px 0 20px 50px;
  display: flex;
  flex: 20%;
}
.nav__item_new:hover {
  opacity: 0.6;
}
.nav__item_new:active {
  opacity: 0.3;
}
@media (max-width: 1149px) {
  .nav__item_new {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav__item_new {
    display: none;
  }
}
.nav__item_sale {
  order: 2;
  height: 60px;
  padding: 20px 0 20px 40px;
  font-size: 15px;
  display: flex;
  flex: 20%;
}
.nav__item_sale:hover {
  opacity: 0.6;
}
.nav__item_sale:active {
  opacity: 0.3;
}
@media (max-width: 1149px) {
  .nav__item_sale {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav__item_sale {
    display: none;
  }
}
.nav__item_delivery {
  order: 2;
  display: flex;
  height: 60px;
  font-size: 15px;
  font-weight: normal;
  justify-content: flex-start;
  flex: 59%;
}
.nav__item_delivery span {
  padding: 20px 50px 20px 406px;
}
@media (max-width: 1149px) {
  .nav__item_delivery {
    display: flex;
    flex: 47%;
  }
  .nav__item_delivery span {
    padding: 20px 50px 20px 90px;
  }
}
@media (max-width: 767px) {
  .nav__item_delivery {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav__menu_open {
    display: flex;
  }
  .nav__item_hidden {
    display: none;
  }
}
/*
.qqq {
  border: 1px solid green;
  position: absolute;
  top: 0px;
  width: 400px;
  height: 29px;

}
.aaa {
  border: 1px solid red;
  position: absolute;
  top: 0px;
  left: 125px;
  width: 269px;
  height: 80px;

}*/
/*@media (max-width: 1149px) {
  .nav__item_delivery {
    height: 60px;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    position: relative;
    font-weight: normal;
    left: -44px;
   }
}
*/
.description {
  width: 100%;
  height: 742px;
  background: url(../img/hero_desktop-tablet.jpg);
  background-color: #f9f9f9;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -60px;
  z-index: 5;
}
.description::after {
  content: "";
  background: url(../img/bg_sine_wave_fill.svg) repeat-x;
  position: relative;
  top: -15px;
  display: flex;
  width: 100%;
  height: 15px;
  z-index: 8;
}
.description__box {
  width: 1150px;
  height: 742px;
  margin: 0 auto;
  text-align: center;
}
.description__box .main__title {
  padding-top: 153px;
}
@media (max-width: 1149px) {
  .description__box {
    width: 668px;
  }
  .description__box .main__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .description {
    background: url(../img/hero_mobile.jpg) no-repeat;
    width: 100%;
    height: 488px;
    background-color: #f9f9f9;
    background-position: top center;
    position: relative;
    top: 0px;
  }
  .description::after {
    content: none;
  }
  .description .description__box {
    width: 320px;
  }
  .description .description__box .main__title {
    width: 260px;
    font-size: 27px;
    line-height: 30px;
    padding-top: 71px;
    margin: 0 auto;
  }
}
.description_subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}
.description_subtitle .description_subtitle_item {
  position: relative;
  top: 359px;
  width: 525px;
  height: 116px;
  background: #63d1bb;
}
.description_subtitle .description_subtitle_item:last-child {
  background: #56c3b2;
}
.description_subtitle .description_subtitle_item:hover {
  height: 121px;
  top: 354px;
}
.description_subtitle .description_subtitle_item:hover svg {
  opacity: 0.7;
}
.description_subtitle .description_subtitle_item:active span,
.description_subtitle .description_subtitle_item:active svg {
  opacity: 0.3;
}
.description_subtitle a {
  display: flex;
  flex-direction: row;
  padding: 29px 36px 0 36px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}
.description_subtitle a span {
  display: block;
  width: 120px;
}
.description_subtitle a svg {
  opacity: 0.5;
  position: relative;
}
@media (max-width: 1149px) {
  .description_subtitle .description_subtitle_item {
    top: 373px;
    width: 334px;
  }
  .description_subtitle .description_subtitle_item:hover {
    height: 121px;
    top: 368px;
  }
}
@media (max-width: 767px) {
  .description_subtitle {
    display: flex;
    flex-flow: column wrap;
    height: 206px;
  }
  .description_subtitle:hover {
    height: 211px;
  }
  .description_subtitle .description_subtitle_item {
    top: 121px;
    width: 320px;
    height: 103px;
  }
  .description_subtitle .description_subtitle_item:hover {
    height: 108px;
    top: 116px;
  }
  .description_subtitle .description_subtitle_item a {
    padding: 24px 36px 0 30px;
  }
  .description_subtitle .description_subtitle_item a span {
    display: block;
    width: 120px;
  }
  .description_subtitle .description_subtitle_item a svg {
    opacity: 0.5;
    position: relative;
  }
}
.description_subtitle_left svg {
  left: 290px;
}
.description_subtitle_right svg {
  left: 271px;
}
@media (max-width: 1149px) {
  .description_subtitle_left svg {
    left: 99px;
  }
  .description_subtitle_right svg {
    left: 80px;
  }
}
@media (max-width: 767px) {
  .description_subtitle_left svg {
    left: 94px;
  }
  .description_subtitle_right svg {
    left: 83px;
  }
}
/*
.qqq {
  border: 1px solid red;
  position: absolute;
  top: 80px;
  width: 233px;
  height: 903px;
  z-index: 15;
}
.aaa {
  border: 1px solid blue;
  position: absolute;
  top: 80px;
  width: 320px;
  height: 488px;
  z-index: 15;
}*/
.product__hit {
  display: flex;
  flex-flow: row;
  width: 1050px;
  height: 803px;
  position: relative;
  top: -60px;
  background: url(../img/bg_sine_wave.svg);
  background-position: 130px bottom;
  background-size: 100%;
  background-repeat: repeat-x;
}
.product__hit_mark {
  flex: 1 175px;
  color: #63d1bb;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  padding-top: 139px;
  text-align: center;
  display: flex;
  align-content: center;
}
.product__hit_mark .mark {
  position: relative;
  left: 41px;
  text-transform: uppercase;
  width: 80px;
}
.product__hit_block {
  flex: 2 350px;
  padding-top: 228px;
}
.product__hit_block .product__hit_title {
  position: absolute;
  top: 124px;
  left: 170px;
}
.product__hit_block .product__hit_desc {
  position: relative;
  left: -2px;
  width: 283px;
  font-size: 17px;
  line-height: 30px;
}
.product__hit_block .product__hit_table {
  position: relative;
  top: 61px;
  left: -2px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
}
.product__hit_block .product__hit_table td {
  height: 40px;
  border-bottom: 1px solid #ececec;
}
.product__hit_block .product__hit_table td:first-child {
  width: 98px;
}
.product__hit_price {
  display: flex;
  flex-flow: column;
  position: relative;
  top: 160px;
  font-size: 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}
.product__hit_price span {
  position: relative;
  left: 71px;
  padding-bottom: 033px;
}
.product__hit_price .product__hit_button {
  width: 292px;
}
.product__hit_img {
  flex: 3 525px;
  padding-top: 71px;
}
.button {
  font-size: 17px;
  line-height: 20px;
  height: 52px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #444444;
}
.button:hover {
  background: #444444;
  color: #fff;
}
.button:active {
  opacity: 0.3;
}
.button:focus {
  outline: none;
}
.advantages {
  width: 1050px;
  height: 663px;
  padding: 0 175px;
}
.advantages .advantages__list {
  display: flex;
  flex-flow: row wrap;
}
.advantages .advantages__list .advantages__item {
  flex: 50%;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  padding-top: 44px;
}
.advantages .advantages__list .advantages__item svg {
  width: 56px;
  height: 38px;
  position: relative;
  left: -7px;
}
.advantages .advantages__list .advantages__item p {
  word-wrap: break-word;
}
.advantages .advantages__list .advantages__item:nth-child(1) p,
.advantages .advantages__list .advantages__item:nth-child(2) p {
  padding-top: 17px;
}
.advantages .advantages__list .advantages__item:nth-child(3) p,
.advantages .advantages__list .advantages__item:nth-child(4) p {
  padding-top: 26px;
}
.advantages .advantages__list .advantages__item:nth-child(5) p,
.advantages .advantages__list .advantages__item:nth-child(6) p {
  padding-top: 21px;
}
/*
.qqq {
  border: 1px solid green;
  position: absolute;
  top: 1833px;
  width: 1400px;
  height: 29px;

}
.aaa {
  border: 1px solid red;
  position: absolute;
  top: 0px;
  left: 125px;
  width: 269px;
  height: 80px;

}*/
.reviews {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 1050px;
  height: 547px;
  padding: 80px 0 0 175px;
  background: url(../img/review_desktop.jpg), url(../img/bg_sine_wave.svg);
  background-position: left top, 130px bottom;
  background-size: auto, 100%;
  background-repeat: no-repeat, repeat-x;
}
.reviews .reviews__title {
  flex: 80%;
  height: 65px;
}
.reviews .reviews__button_write {
  flex: 20%;
  height: 105px;
}
.reviews .reviews__button_write button {
  width: 100%;
}
.reviews .reviews__list {
  flex: 100%;
  font-size: 17px;
  line-height: 30px;
}
.reviews .reviews__list p {
  width: 85%;
}
.reviews .reviews__author {
  flex: 80%;
  padding-top: 38px;
}
.reviews .reviews__author .reviews__author_name {
  font-weight: bold;
}
.reviews .reviews__author span:last-child {
  position: relative;
  top: 10px;
}
.reviews .reviews__arrows {
  flex: 20%;
}
.reviews .reviews__arrows button {
  border: none;
  padding: 47px 17px;
  background: transparent;
}
/*.qqq {
  border: 1px solid red;
  position: absolute;
  top: 2690px;
  width: 1400px;
  height: 14px;
}*/
