* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  list-style: none;
}
.container {
  margin: 0 auto;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
.main__title {
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .main__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .main__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.catalog_title {
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog_title {
    font-size: 20px;
  }
}
.form__block {
  border: none;
  margin: 0 9.3%;
}
/*  для form  */
.form__block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__block {
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .form__block {
    width: 1050px;
  }
}
@media (min-width: 768px) {
  .form__block_title {
    width: 167px;
  }
}
@media (min-width: 1150px) {
  .form__block_title {
    width: 175px;
    text-align: center;
    padding-right: 12px;
  }
}
.form__block_variation {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .form__block_variation {
    width: 501px;
  }
}
@media (min-width: 1150px) {
  .form__block_variation {
    width: 875px;
  }
}
.form_headline {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  position: relative;
}
.form_headline::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 23.85%;
  width: 76.15%;
  height: 1px;
  background: #62d1ba;
}
@media (min-width: 768px) {
  .form_headline::after {
    content: none;
  }
}
.form_label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .form_label {
    font-size: 19px;
  }
}
.form_input {
  display: none;
}
input {
  border: none;
}
.nav__list {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.nav__item_new,
.nav__item_sale,
.nav__item_delivery {
  display: none;
}
.nav__item {
  height: 79px;
  border-bottom: 1px solid #ececec;
  padding-top: 27px;
  z-index: 10;
  opacity: 0.99;
}
.nav__item_link {
  color: #000;
}
.nav__item_link svg {
  position: absolute;
  margin-top: 3px;
  left: 10%;
  opacity: 0.2;
}
.nav__item_link span {
  padding-left: 23.5%;
}
.nav__item_link:hover {
  opacity: 0.6;
}
.nav__item_link:hover svg {
  fill: #63d1bb;
  opacity: 1;
}
.nav__item_link:hover span {
  opacity: 0.6;
}
.nav__item_link:active {
  opacity: 0.3;
}
.nav__item_link:active svg,
.nav__item_link:active span {
  opacity: 0.3;
}
.nav__item_logo {
  height: 80px;
  border-top: 1px solid #ececec;
  text-align: center;
  padding-top: 21px;
}
.nav__button_menu {
  position: absolute;
  top: 32px;
  right: 10%;
  border: none;
}
.nav__button_menu:focus {
  outline: none;
}
.nav__button_menu_close {
  background: url(/img/icon_menu_open.svg) no-repeat;
  width: 20px;
  height: 14px;
}
.nav__button_menu_open {
  background: url(/img/icon_menu_close.svg) no-repeat;
  width: 21px;
  height: 21px;
  top: 28px;
}
.nav__menu_open {
  display: block;
}
.nav__item_hidden {
  display: none;
}
@media (min-width: 768px) {
  .header__page {
    width: 768px;
  }
  .nav__list {
    display: flex;
    flex-flow: row wrap;
  }
  .nav__item {
    height: 89px;
    text-align: left;
  }
  .nav__item_logo {
    flex: 48%;
    border-top: none;
    padding-top: 22px;
    padding-left: 50px;
  }
  .nav__button_menu {
    display: none;
  }
  .nav__item_catalog {
    display: block;
    position: absolute;
    top: 89px;
    order: 3;
    flex: 28%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 50px;
    border-bottom: none;
    z-index: 30;
    opacity: 0.99;
  }
  .nav__item_catalog span {
    padding-left: 0;
  }
  .nav__item_order {
    display: block;
    position: absolute;
    top: 89px;
    order: 4;
    flex: 21%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 217px;
    text-align: left;
    border-bottom: none;
    z-index: 20;
    opacity: 0.99;
  }
  .nav__item_order span {
    padding-left: 0;
  }
  .nav__item_search {
    display: block;
    order: 1;
    flex: 10.9%;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .nav__item_search svg {
    position: relative;
    margin: 0;
    top: 8px;
    left: 34px;
  }
  .nav__item_search span {
    display: none;
  }
  .nav__item_cart {
    display: block;
    order: 2;
    flex: 40.9%;
    text-align: right;
    padding-top: 31px;
    padding-right: 50px;
  }
  .nav__item_cart svg {
    position: relative;
    margin: 0;
    top: 4px;
    left: 21px;
  }
  .nav__item_delivery {
    display: block;
    position: absolute;
    top: 89px;
    order: 5;
    flex: 50%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 494px;
    font-weight: normal;
    padding-right: 50px;
    text-align: right;
    border-bottom: none;
  }
}
@media (min-width: 1150px) {
  .header__page {
    width: 1150px;
  }
  .nav__list {
    display: flex;
    flex-flow: row wrap;
  }
  .nav__item {
    height: 89px;
    text-align: left;
  }
  .nav__item_logo {
    flex: 18.3%;
    order: 1;
    border-top: none;
    padding-top: 9px;
    padding-left: 32px;
  }
  .nav__button_menu {
    display: none;
  }
  .nav__item_catalog {
    display: block;
    position: static;
    flex: 20.3%;
    order: 0;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
    padding-left: 50px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  .nav__item_catalog span {
    padding-left: 0;
  }
  .nav__item_order {
    display: block;
    position: static;
    flex: 20.3%;
    order: 0;
    font-size: 17px;
    line-height: 24px;
    padding: 32px 0 0 35px;
    text-align: left;
    border-bottom: 1px solid #ececec;
  }
  .nav__item_order span {
    padding-left: 0;
  }
  .nav__item_search {
    display: block;
    flex: 13.3%;
    order: 2;
    text-align: right;
    border-left: none;
    border-right: 1px solid #ececec;
  }
  .nav__item_search svg {
    position: relative;
    margin: 0;
    top: 8px;
    left: -31px;
  }
  .nav__item_search span {
    display: none;
  }
  .nav__item_cart {
    display: block;
    flex: 27.5%;
    order: 2;
    text-align: right;
    padding-top: 31px;
    padding-right: 50px;
  }
  .nav__item_cart svg {
    position: relative;
    margin: 0;
    top: 4px;
    left: 21px;
  }
  .nav__item_new,
  .nav__item_sale,
  .nav__item_delivery {
    order: 3;
  }
  .nav__item_new {
    height: 60px;
    display: block;
    position: absolute;
    top: 89px;
    flex: 23.4%;
    border: none;
    padding: 18px 0 0 50px;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.99;
    z-index: 16;
  }
  .nav__item_sale {
    height: 60px;
    display: block;
    position: absolute;
    top: 89px;
    flex: 23.5%;
    border: none;
    padding-top: 18px;
    padding-left: 270px;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.99;
    z-index: 15;
  }
  .nav__item_delivery {
    display: block;
    flex: 53%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 876px;
    font-weight: normal;
    padding-right: 50px;
    text-align: right;
    border-bottom: none;
  }
}
.button {
  font-size: 17px;
  line-height: 20px;
  height: 52px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #444444;
}
.button:hover {
  background: #444444;
  color: #fff;
}
.button:active {
  opacity: 0.3;
}
.button:focus {
  outline: none;
}
.description {
  width: 100%;
  height: 488px;
  background: url(../img/hero_mobile.jpg);
  background-color: #f9f9f9;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.99;
  z-index: 5;
}
.description__main_title {
  text-align: center;
  padding-top: 71px;
  font-size: 27px;
  width: 260px;
  margin: 0 auto;
}
.description_subtitle {
  position: relative;
  top: 121px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}
.description_subtitle_item {
  height: 103px;
  padding-left: 9.3%;
  color: #fff;
}
.description_subtitle_item span {
  display: block;
  width: 120px;
  padding-top: 27px;
  color: #fff;
}
.description_subtitle_item svg {
  position: relative;
  display: block;
  left: 76%;
  opacity: 0.5;
  fill: #149080;
}
.description_subtitle_item:first-child {
  background: #63d1bb;
}
.description_subtitle_item:first-child svg {
  top: -52px;
}
.description_subtitle_item:last-child {
  background: #56c3b2;
}
.description_subtitle_item:last-child svg {
  top: -55px;
  left: 72.8%;
}
.description_subtitle_item:hover {
  height: 108px;
  margin-top: -5px;
}
.description_subtitle_item:hover svg {
  opacity: 0.7;
}
.description_subtitle_item:active span,
.description_subtitle_item:active svg {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .description {
    height: 743px;
    background: url(../img/hero_desktop-tablet.jpg);
    background-color: #f9f9f9;
    background-position: center;
    background-repeat: no-repeat;
  }
  .description::after {
    content: "";
    background: url(../img/bg_sine_wave_fill.svg) repeat-x;
    position: relative;
    top: -15px;
    display: flex;
    width: 100%;
    height: 15px;
    z-index: 8;
  }
  .description__box {
    height: 743px;
  }
  .description__main_title {
    padding-top: 154px;
    font-size: 43px;
    width: auto;
  }
  .description_subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 372px;
    font-size: 20px;
    line-height: 30px;
  }
  .description_subtitle_item {
    height: 117px;
    width: 334px;
    padding-left: 35px;
  }
  .description_subtitle_item span {
    padding-top: 30px;
  }
  .description_subtitle_item svg {
    left: 222px;
  }
  .description_subtitle_item:first-child svg {
    top: -59px;
  }
  .description_subtitle_item:last-child svg {
    top: -59px;
    left: 205px;
  }
  .description_subtitle_item:hover {
    height: 122px;
  }
}
@media (min-width: 1150px) {
  .description__main_title {
    font-size: 53px;
  }
  .description_subtitle {
    top: 358px;
  }
  .description_subtitle_item {
    width: 525px;
    padding-left: 36px;
  }
  .description_subtitle_item span {
    padding-top: 29px;
  }
  .description_subtitle_item svg {
    left: 412px;
  }
  .description_subtitle_item:last-child svg {
    top: -58px;
    left: 394px;
  }
}
.product__hit {
  background: url(../img/bg_sine_wave.svg);
  background-position: bottom;
  background-size: auto 6px;
  background-repeat: repeat-x;
}
.product__hit_box {
  display: flex;
  flex-direction: column;
  padding: 0 9.4%;
  padding-bottom: 44px;
  color: #444444;
}
.product__hit_title {
  margin: 0;
  padding-top: 27px;
  text-align: left;
  color: #000;
}
.product__hit_mark {
  display: block;
  padding-top: 4px;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
}
.product__hit_desc {
  padding-top: 23px;
  font-size: 15px;
  line-height: 24px;
}
.product__hit_table {
  margin-top: 18px;
  width: 100%;
  border-collapse: collapse;
}
.product__hit_table td {
  height: 40px;
  border-bottom: 1px solid #ececec;
}
.product__hit_table td:first-child {
  width: 30.6%;
}
.product__hit_table td:last-child {
  width: 50.6%;
}
.product__hit_img {
  text-align: center;
  padding-top: 27px;
}
.product__hit_price {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 19px;
}
.product__hit_button {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .product__hit {
    background-size: auto 17px;
  }
  .product__hit_box {
    flex-wrap: wrap;
    width: 668px;
    height: 627px;
    padding: 0;
  }
  .product__hit_block {
    width: 292px;
  }
  .product__hit_title {
    position: absolute;
    padding-top: 48px;
  }
  .product__hit_mark {
    position: relative;
    top: 55px;
    left: 565px;
    line-height: 17px;
    width: 80px;
    text-align: center;
  }
  .product__hit_desc {
    padding-top: 110px;
    font-size: 17px;
    line-height: 30px;
  }
  .product__hit_table {
    margin-top: 35px;
  }
  .product__hit_img {
    position: relative;
    top: 126px;
    left: 20px;
    order: 1;
    width: 334px;
  }
  .product__hit_price {
    padding-top: 54px;
    width: 292px;
    font-size: 20px;
  }
  .product__hit_button {
    margin-top: 34px;
  }
}
@media (min-width: 1150px) {
  .product__hit {
    background: none;
  }
  .product__hit_box {
    width: 1050px;
    height: 802px;
    background: url(../img/bg_sine_wave.svg);
    background-position: bottom;
    background-size: auto 24px;
    background-repeat: repeat-x;
  }
  .product__hit_block {
    margin-left: 175px;
    padding-top: 84px;
  }
  .product__hit_title {
    padding-top: 39px;
    opacity: 0.99;
    z-index: 5;
  }
  .product__hit_mark {
    position: relative;
    top: 50px;
    left: -133px;
    line-height: 17px;
    width: 80px;
    text-align: center;
  }
  .product__hit_desc {
    padding-top: 106px;
  }
  .product__hit_table {
    margin-top: 48px;
  }
  .product__hit_img {
    top: 50px;
    left: 29px;
    width: 525px;
  }
  .product__hit_button {
    margin-top: 44px;
  }
  .product__hit_price {
    padding-top: 108px;
    margin-left: 175px;
  }
}
.advantages {
  height: 829px;
  padding: 0 9.3%;
}
.advantages__title {
  padding-top: 30px;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.advantages__item {
  height: 123px;
}
.advantages__item p {
  padding-top: 14px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
.advantages__item_block {
  display: flex;
  align-items: center;
  height: 38px;
}
.advantages__item_block svg {
  width: 56px;
  position: relative;
  left: -6px;
}
@media (min-width: 768px) {
  .advantages {
    width: 668px;
    height: 600px;
    padding: 0;
  }
  .advantages__title {
    padding-top: 51px;
  }
  .advantages__list {
    flex-wrap: wrap;
    height: 480px;
    margin-top: 50px;
  }
  .advantages__item {
    width: 334px;
    height: 155px;
  }
  .advantages__item p {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1150px) {
  .advantages {
    padding: 0 175px;
    padding-top: 62px;
    width: 1050px;
  }
  .advantages__title {
    padding-top: 2px;
  }
  .advantages__list {
    margin-top: 47px;
  }
}
.reviews {
  background: url(../img/bg_sine_wave.svg);
  background-position: bottom;
  background-size: auto 6px;
  background-repeat: repeat-x;
}
.reviews_box {
  display: flex;
  flex-direction: column;
  padding: 0 9.4%;
  padding-top: 27px;
  padding-bottom: 50px;
}
.reviews__button {
  order: 1;
  padding-top: 38px;
}
.reviews__button_write {
  width: 100%;
}
.reviews__list {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding-top: 23px;
}
.reviews__author {
  font-size: 17px;
  line-height: 28px;
  color: #444444;
  padding-top: 56px;
}
.reviews__author_name {
  font-weight: bold;
  color: #000;
}
.reviews__arrows {
  display: flex;
  flex-direction: row;
  padding-top: 31px;
}
.reviews__button_arrow {
  flex: 40.6;
  border: 1px solid #ececec;
}
.reviews__button_arrow:first-child {
  border-right: none;
}
.reviews__button_arrow:hover {
  opacity: 0.6;
}
.reviews__button_arrow:active {
  opacity: 0.3;
}
.reviews__button_arrow:focus {
  outline: none;
}
@media (min-width: 768px) {
  .reviews {
    background-image: url(../img/review_desktop.jpg), url(../img/bg_sine_wave.svg);
    background-position: left top, bottom;
    background-size: auto, auto 17px;
    background-repeat: no-repeat, repeat-x;
  }
  .reviews_box {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 40px;
    padding-top: 78px;
    padding-bottom: 131px;
    width: 668px;
    height: 542px;
  }
  .reviews__title {
    width: 334px;
  }
  .reviews__button {
    order: 0;
    padding-top: 0px;
    width: 334px;
    text-align: right;
  }
  .reviews__button_write {
    width: 175px;
  }
  .reviews__list {
    font-size: 17px;
    padding-top: 45px;
  }
  .reviews__author {
    font-size: 17px;
    line-height: 30px;
    padding-top: 55px;
  }
  .reviews__author_name {
    font-size: 18px;
    line-height: 24px;
  }
  .reviews__arrows {
    padding-top: 62px;
    padding-right: 19px;
  }
  .reviews__button_arrow {
    flex: auto;
    border: none;
  }
  .reviews__button_arrow:first-child {
    border-right: none;
    padding-right: 37px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    background: none;
  }
  .reviews_box {
    background-image: url(../img/review_desktop.jpg), url(../img/bg_sine_wave.svg);
    background-position: left top, bottom;
    background-size: auto, auto 24px;
    background-repeat: no-repeat, repeat-x;
    margin-top: 67px;
    padding-top: 71px;
    padding-bottom: 131px;
    padding-left: 175px;
    width: 1050px;
    height: 547px;
  }
  .reviews__title {
    width: 525px;
  }
  .reviews__button {
    width: 350px;
    padding-top: 8px;
  }
  .reviews__list {
    padding-top: 26px;
  }
  .reviews__author {
    padding-top: 18px;
  }
  .reviews__arrows {
    padding-top: 10px;
    height: 40px;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  padding-bottom: 34px;
}
.contacts__box {
  padding: 0 9.3%;
}
.contacts__box_icon {
  display: none;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
}
.contacts__table {
  padding: 0 9.3%;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding-top: 22px;
}
.contacts__table td {
  height: 60px;
  vertical-align: top;
}
.contacts__table td:first-child {
  width: 24.4%;
}
.contacts__table td:last-child {
  width: 56.9%;
}
.contacts__table_link {
  color: #444444;
  border-bottom: 1px solid #62d1ba;
}
.contacts__table_link:hover {
  color: #62d1ba;
}
.contacts__table_link:active {
  opacity: 0.3;
}
.contacts__button {
  order: 1;
  margin: 0 9.3%;
  margin-top: 40px;
}
.contacts__map {
  padding-top: 46px;
  margin: 0 auto;
}
.contacts__map iframe {
  border: none;
  height: 457px;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 46px;
    padding-bottom: 56px;
  }
  .contacts__box {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }
  .contacts__box_icon {
    display: block;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 16px;
  }
  .contacts__table {
    width: 668px;
    margin: 0 auto;
    padding: 0;
    font-size: 17px;
    padding-top: 30px;
  }
  .contacts__table td:first-child {
    width: 78px;
  }
  .contacts__table td:last-child {
    width: 256px;
  }
  .contacts__table_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts__button {
    order: 1;
    margin: 0 auto;
    margin-top: 51px;
    width: 230px;
  }
  .contacts__map {
    padding-top: 51px;
    margin: 0 auto;
  }
  .contacts__map iframe {
    border: none;
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    flex-flow: column wrap;
    margin: 0 auto;
    padding-top: 71px;
    padding-bottom: 0px;
    padding-left: 175px;
    width: 1050px;
    height: 632px;
  }
  .contacts__box {
    flex: block;
    width: 350px;
    margin: 0;
  }
  .contacts__box_icon {
    position: relative;
    top: 63px;
    left: -415px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 72px;
  }
  .contacts__table {
    margin: 0;
    width: 350px;
    padding-top: 44px;
  }
  .contacts__table td {
    height: 56px;
  }
  .contacts__table td:first-child {
    width: 77px;
  }
  .contacts__table td:last-child {
    width: 273px;
  }
  .contacts__table_block {
    display: block;
  }
  .contacts__button {
    order: 0;
    margin: 0;
    margin-top: 76px;
    width: 230px;
  }
  .contacts__map {
    margin: 0;
    padding-top: 0px;
  }
  .contacts__map iframe {
    border: none;
    width: 525px;
  }
}
.footer__page {
  height: 160px;
  padding: 0 9.3%;
  background: #f1f1f1;
}
.footer__page_box {
  display: flex;
  flex-direction: column;
}
.footer__page_logo {
  display: none;
}
.footer__page_logo svg:hover {
  fill: #46c1ae;
}
.footer__page_logo svg:active {
  opacity: 0.3;
}
.social__links {
  padding: 0 12.2%;
  padding-top: 25px;
  height: 79px;
  text-align: center;
}
.social__links svg:hover {
  fill: #63d1bb;
}
.social__links svg:active {
  opacity: 0.3;
}
.social__link_insta,
.social__link_fb {
  padding-right: 41px;
}
.copyright {
  padding: 0 39px;
  height: 80px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
.copyright span {
  padding-top: 30px;
}
.copyright:hover svg {
  fill: #46c1ae;
}
.copyright:active span,
.copyright:active svg {
  opacity: 0.3;
}
.copyright svg {
  fill: #63d1bb;
  position: relative;
  top: 23px;
}
.copyright__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__page {
    flex-direction: row;
    align-items: center;
    height: 143px;
    padding: 0;
  }
  .footer__page_box {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    padding-top: 50px;
  }
  .footer__page_logo {
    display: block;
    flex: 185px;
  }
  .social__links {
    margin: 0;
    padding: 0;
    flex: 298px;
    padding-top: 5px;
  }
  .copyright {
    margin: 0;
    padding: 0;
    border-top: none;
    flex: 185px;
  }
  .copyright span {
    padding-top: 13px;
  }
  .copyright svg {
    fill: #63d1bb;
    position: relative;
    top: 7px;
  }
  .copyright__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1150px) {
  .footer__page_box {
    width: 1050px;
  }
  .footer__page_logo {
    flex: 400px;
  }
  .social__links {
    flex: 466px;
    text-align: left;
  }
}
#modal {
  width: 100%;
  height: 338px;
  padding: 0 9.3%;
  border: none;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.modal_block {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal__block_title {
  margin: 0 auto;
}
.modal_title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 31px;
  width: 160px;
}
.modal_elem {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding-top: 12px;
}
.modal_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 22px;
}
.form__input_modal {
  display: none;
}
.form__input_modal + label {
  display: block;
  width: 25.6%;
  height: 52px;
  border: 2px solid rgba(68, 68, 68, 0.1);
}
.form__input_modal:checked + label {
  border: 2px solid #63d1bb;
}
.form__label_modal {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  cursor: pointer;
  padding-top: 16px;
}
.form__label_modal:hover {
  border: 2px solid rgba(68, 68, 68, 0.3);
}
.modal__button {
  width: 100%;
  border: none;
  background: #63d1bb;
  color: #ffffff;
  margin-top: 31px;
}
.modal__button_close {
  position: absolute;
  top: 14px;
  right: 15px;
  background: url(/img/icon_menu_close.svg) no-repeat;
  width: 21px;
  height: 21px;
  border: none;
}
.modal__button_close:focus {
  outline: none;
}
@media (min-width: 768px) {
  #modal {
    width: 568px;
    margin: 0 auto;
    padding: 0;
    border: none;
  }
  .modal_block {
    padding: 0 109px;
    width: 568px;
    height: 338px;
    border: 1px solid #c7c7c7;
  }
  .modal_title {
    font-size: 30px;
    line-height: 57px;
    padding-top: 33px;
    width: 352px;
  }
  .modal_elem {
    font-size: 17px;
    padding-top: 14px;
  }
  .modal_box {
    padding-top: 21px;
  }
  .form__input_modal + label {
    width: 112px;
  }
  .modal__button {
    width: 350px;
    margin-top: 31px;
  }
  .modal__button_close {
    position: relative;
    top: -275px;
    left: 421px;
    background: url(/img/icon_menu_close.svg) no-repeat;
    width: 21px;
    height: 21px;
    border: none;
  }
}
.subhead {
  height: 176px;
  background: #f1f1f1;
}
.subhead_title {
  font-size: 27px;
  text-align: center;
  padding-top: 72px;
}
@media (min-width: 768px) {
  .subhead {
    height: 237px;
    background-image: url(../img/bg_sine_wave_fill.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 24px;
  }
  .subhead_title {
    font-size: 43px;
    padding-top: 96px;
  }
}
@media (min-width: 1150px) {
  .subhead {
    height: 271px;
    background-size: auto 34px;
  }
  .subhead_title {
    font-size: 53px;
    padding-top: 96px;
  }
}
.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 9.3%;
}
.catalog__product_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  cursor: pointer;
}
.catalog__product_list:last-child .product__info {
  height: 129px;
}
.catalog__product_list:hover .catalog__product_info {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}
.catalog__product_list:active .catalog__product_info {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.catalog__product_list:hover .catalog_title {
  opacity: 0.6;
}
.catalog__product_list:hover .price__svg {
  opacity: 1;
  fill: #63d1bb;
}
.catalog__product_list:active .catalog_title,
.catalog__product_list:active .price__svg {
  opacity: 0.3;
}
.catalog__product_list:last-child {
  margin: 0;
}
.catalog__product_img {
  height: 195px;
  margin: 0 auto;
  z-index: 30;
}
.catalog__product_info {
  border: 1px solid #ececec;
  padding: 0 8.75%;
}
.product__info {
  height: 104px;
}
.product__info_title {
  position: relative;
  top: 26px;
}
.product__info_desc {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  position: relative;
  top: 14px;
}
.product__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  border-top: 1px solid #ececec;
}
.price__info {
  font-size: 15px;
  line-height: 24px;
  position: relative;
  font-weight: bold;
  top: -2px;
}
.price__svg {
  position: relative;
  top: -5px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .catalog__list {
    width: 668px;
    margin: 0 auto;
    margin-top: 68px;
  }
  .catalog__product_list {
    flex-direction: row;
    margin-bottom: 54px;
  }
  .catalog__product_list:last-child .product__info {
    height: 259px;
  }
  .catalog__product_list:last-child {
    margin: 0 auto;
    margin-bottom: 54px;
  }
  .catalog__product_img {
    width: 334px;
    height: 334px;
    margin: 0;
  }
  .catalog__product_info {
    width: 334px;
    padding: 0 32px;
  }
  .product__info {
    height: 259px;
  }
  .product__info_title {
    top: 23px;
  }
  .product__info_desc {
    font-size: 15px;
    line-height: 30px;
    top: 12px;
  }
  .price__info {
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .catalog__list {
    width: 1050px;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 112px;
  }
  .catalog__product_list {
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 57px;
  }
  .catalog__product_list:last-child .product__info {
    height: 122px;
  }
  .catalog__product_list:last-child {
    margin-bottom: 0px;
  }
  .catalog__product_img {
    width: 316px;
    height: 462px;
  }
  .catalog__product_info {
    width: 316px;
    padding: 0 28px;
  }
  .product__info {
    height: 122px;
  }
}
.promo {
  display: flex;
  flex-direction: column;
  margin: 0 9.3%;
  margin-bottom: 58px;
  text-align: center;
}
.promo__video {
  width: 260px;
  height: 150px;
  margin: 0 auto;
}
.promo__video_play {
  width: 101px;
  height: 76px;
  position: relative;
  top: -118px;
}
.promo__video_play:hover {
  transform: scale(1.2);
}
.promo__video_play:active {
  transform: scale(0.8);
  opacity: 0.3;
}
.promo__title {
  display: flex;
  order: -1;
  height: 97px;
  border: 1px solid #ececec;
}
.promo__title_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  width: 192px;
}
.promo__title_item svg {
  fill: #63d1bb;
}
.promo__desc_title {
  position: relative;
  left: 25px;
}
.promo__desc {
  height: 257px;
  border: 1px solid #ececec;
  border-top: none;
}
.promo__desc:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}
.promo__desc:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.promo__desc_item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 74%;
  padding-top: 29px;
}
.promo_desc_text {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #444444;
  padding-bottom: 48px;
}
.promo__desc_link {
  text-align: center;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .promo {
    margin: 0 auto;
    margin-bottom: 63px;
    text-align: center;
  }
  .promo__video {
    width: 668px;
    height: 455px;
    margin: 0 auto;
  }
  .promo__video_play {
    top: -270px;
  }
  .promo__title {
    order: 0;
    width: 668px;
    height: 95px;
    margin: 0 auto;
    border-bottom: none;
  }
  .promo__title_item {
    width: 584px;
  }
  .promo__desc_title {
    left: 30px;
  }
  .promo__desc {
    width: 668px;
    height: 191px;
    margin: 0 auto;
  }
  .promo__desc_item {
    width: 584px;
    padding-top: 0px;
  }
  .promo_desc_text {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 34px;
  }
}
@media (min-width: 1150px) {
  .promo {
    flex-wrap: wrap;
    width: 1050px;
    height: 455px;
    margin: 0 auto;
    margin-bottom: 106px;
    text-align: center;
  }
  .promo__video {
    width: 682px;
    height: 455px;
    margin: 0;
  }
  .promo__video_play {
    top: -270px;
  }
  .promo__title {
    width: 368px;
    height: 177px;
    margin: 0;
  }
  .promo__title_item {
    flex-direction: column;
    width: 230px;
    text-align: left;
  }
  .promo__title_item svg {
    position: relative;
    top: 41px;
    left: -98px;
  }
  .promo__desc_title {
    left: 0;
    padding-top: 63px;
  }
  .promo__desc {
    width: 368px;
    height: 278px;
    margin: 0;
  }
  .promo__desc_item {
    width: 230px;
  }
  .promo_desc_text {
    padding-bottom: 45px;
  }
}
.form_order {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 26px;
  width: 81.4%;
}
@media (min-width: 768px) {
  .form_order {
    font-size: 17px;
    line-height: 30px;
    padding-top: 75px;
    padding-bottom: 35px;
    width: 668px;
  }
}
@media (min-width: 1150px) {
  .form_order {
    padding-top: 104px;
    padding-bottom: 52px;
    width: 700px;
  }
}
.form__type {
  margin-bottom: 15px;
}
.form__type_headline {
  height: 30px;
}
.form__type_label {
  position: relative;
  padding-top: 18px;
  padding-left: 23.85%;
  height: 60px;
}
.form__type_label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444;
  border-radius: 50%;
  box-sizing: border-box;
}
.form_input:checked + .form__type_label::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 12px;
  width: 16px;
  height: 16px;
  background: #63d1bb;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__type {
    height: 186px;
    margin-bottom: 0;
  }
  .form__type .form__block {
    flex-direction: row;
  }
  .form__type_headline {
    padding-top: 26px;
    height: 186px;
  }
  .form__type_variation {
    padding-top: 2px;
    height: 186px;
  }
  .form__type_label {
    font-size: 19px;
    padding-left: 80px;
    height: 75px;
  }
  .form__type_label::before {
    top: 5px;
    width: 52px;
    height: 52px;
  }
  .form_input:checked + .form__type_label::after {
    left: 15px;
    width: 22px;
    height: 22px;
  }
}
@media (min-width: 1150px) {
  .form__type {
    height: 182px;
  }
  .form__type_headline {
    padding-top: 24px;
    height: 182px;
  }
  .form__type_variation {
    height: 182px;
  }
  .form__type_label {
    padding-left: 80px;
    height: 75px;
  }
  .form__type_input:checked + .form__type_label::after {
    left: 15px;
  }
}
.form__color_headline {
  height: 30px;
}
.form__color_label {
  position: relative;
  padding-top: 18px;
  padding-left: 23.85%;
  height: 62px;
}
.form__color_label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 40px;
  height: 39px;
  border: 2px solid #444;
  box-sizing: border-box;
  cursor: pointer;
}
.form_input:checked + .form__color_label::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 10px;
  width: 22px;
  height: 16px;
  background: url(../img/icon_tick.svg) no-repeat 50% 50%;
  background-size: 22px 16px;
}
@media (min-width: 768px) {
  .form__color {
    height: 304px;
    background: #f1f1f1;
  }
  .form__color .form__block {
    flex-direction: row;
    height: 265px;
  }
  .form__color_headline {
    height: 304px;
    padding-top: 68px;
  }
  .form__color_variation {
    display: flex;
    flex-flow: row wrap;
    padding-top: 40px;
  }
  .form__color_label {
    padding-top: 24px;
    padding-left: 82px;
    width: 250px;
    height: 65px;
  }
  .form__color_label::before {
    top: 9px;
    left: 0;
    width: 52px;
    height: 52px;
  }
  .form_input:checked + .form__color_label::after {
    top: 24px;
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
  }
}
@media (min-width: 1150px) {
  .form__color {
    height: 228px;
  }
  .form__color .form__block {
    height: 228px;
  }
  .form__color_headline {
    height: 228px;
    padding-top: 68px;
  }
  .form__color_variation {
    padding-top: 40px;
    padding-right: 89px;
    height: 192px;
  }
  .form__color_label {
    padding-top: 24px;
    width: 262px;
  }
}
.form__name {
  margin-top: 20px;
}
.form__name_headline {
  height: 30px;
}
.form__name_input {
  height: 54px;
  border-bottom: 2px solid #000;
  font-size: 17px;
  line-height: 10px;
}
.form__name_input:focus {
  outline: none;
}
.form__name_input::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.3;
}
.form__name_input::-moz-placeholder {
  color: #444444;
  opacity: 0.3;
}
.form__name_label {
  height: 30px;
  line-height: 46px;
}
@media (min-width: 768px) {
  .form__name {
    height: 285px;
  }
  .form__name .form__block {
    flex-direction: row;
    height: 265px;
  }
  .form__name_headline {
    padding-top: 40px;
  }
  .form__name_variation {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-self: flex-start;
  }
  .form__name_label {
    width: 126px;
    height: 76px;
    position: relative;
    top: 14px;
  }
  .form__name_label:first-child {
    width: 73px;
  }
  .form__name_input {
    width: 375px;
    height: 76px;
    font-size: 19px;
    padding-left: 18px;
  }
  .form__name_input:focus {
    outline: none;
  }
  .form_first-name {
    width: 426px;
  }
}
@media (min-width: 1150px) {
  .form__name {
    height: 285px;
  }
  .form__name .form__block {
    flex-direction: row;
    height: 265px;
  }
  .form__name_headline {
    padding-top: 40px;
  }
  .form__name_variation {
    width: 700px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-self: flex-start;
  }
  .form__name_label {
    width: 126px;
    height: 76px;
    position: relative;
    top: 14px;
  }
  .form__name_label:first-child {
    width: 73px;
  }
  .form__name_input {
    width: 574px;
    height: 76px;
    font-size: 19px;
  }
  .form__name_input:focus {
    outline: none;
  }
  .form_first-name {
    width: 627px;
  }
}
