@tablet-width: "(max-width: 1149px)";
@mobile-width: "(max-width: 767px)";
@light-green: #63d1bb;
@text-color-green: #62d1ba;
@border-color: #ececec;
@text-color-grey: #444444;
@bg-color-grey: #f1f1f1;
@color-green: #46c1ae;
@border-color-light: #c6c6c6;
