.advantages {
  width: 1050px;
  height: 663px;
  padding: 0 175px;
}
.advantages .advantages__list {
  display: flex;
  flex-flow: row wrap;
}
.advantages .advantages__list .advantages__item {
  flex: 50%;
  width: 350px;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  padding-right: 50px;
}
