.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  padding-bottom: 34px;
}
.contacts__box {
  padding: 0 9.3%;
}
.contacts__box_icon {
  display: none;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
}
.contacts__table {
  padding: 0 9.3%;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding-top: 22px;
}
.contacts__table td {
  height: 60px;
  vertical-align: top;
}
.contacts__table td:first-child {
  width: 24.4%;
}
.contacts__table td:last-child {
  width: 56.9%;
}
.contacts__table_link {
  color: #444444;
  border-bottom: 1px solid #62d1ba;
}
.contacts__table_link:hover {
  color: #62d1ba;
}
.contacts__table_link:active {
  opacity: 0.3;
}
.contacts__button {
  order: 1;
  margin: 0 9.3%;
  margin-top: 40px;
}
.contacts__map {
  padding-top: 46px;
  margin: 0 auto;
}
.contacts__map iframe {
  border: none;
  height: 457px;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 46px;
    padding-bottom: 56px;
  }
  .contacts__box {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }
  .contacts__box_icon {
    display: block;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 16px;
  }
  .contacts__table {
    width: 668px;
    margin: 0 auto;
    padding: 0;
    font-size: 17px;
    padding-top: 30px;
  }
  .contacts__table td:first-child {
    width: 78px;
  }
  .contacts__table td:last-child {
    width: 256px;
  }
  .contacts__table_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts__button {
    order: 1;
    margin: 0 auto;
    margin-top: 51px;
    width: 230px;
  }
  .contacts__map {
    padding-top: 51px;
    margin: 0 auto;
  }
  .contacts__map iframe {
    border: none;
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    flex-flow: column wrap;
    margin: 0 auto;
    padding-top: 71px;
    padding-bottom: 0px;
    padding-left: 175px;
    width: 1050px;
    height: 632px;
  }
  .contacts__box {
    flex: block;
    width: 350px;
    margin: 0;
  }
  .contacts__box_icon {
    position: relative;
    top: 63px;
    left: -415px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 72px;
  }
  .contacts__table {
    margin: 0;
    width: 350px;
    padding-top: 44px;
  }
  .contacts__table td {
    height: 56px;
  }
  .contacts__table td:first-child {
    width: 77px;
  }
  .contacts__table td:last-child {
    width: 273px;
  }
  .contacts__table_block {
    display: block;
  }
  .contacts__button {
    order: 0;
    margin: 0;
    margin-top: 76px;
    width: 230px;
  }
  .contacts__map {
    margin: 0;
    padding-top: 0px;
  }
  .contacts__map iframe {
    border: none;
    width: 525px;
  }
}
