.contacts {
  display: flex;
  align-content: space-between;
  flex-flow: column wrap;
  width: 1050px;
  height: 633px;
  padding: 72px 0 0 175px;
}
.contacts .contacts__box {
  flex: 40%;
  padding-top: 71px;
  max-height: 120px;
}
.contacts .contacts__box svg {
  position: relative;
  top: -67px;
  left: -114px;
}
.contacts .contacts__table {
  margin-top: 61px;
  flex: 40%;
  border-collapse: collapse;
  color: #444444;
}
.contacts .contacts__table a {
  color: #444444;
  border-bottom: 1px solid #62d1ba;
}
.contacts .contacts__table a:hover {
  color: #62d1ba;
}
.contacts .contacts__table a:active {
  opacity: 0.3;
}
.contacts .contacts__table td {
  height: 61px;
  vertical-align: top;
}
.contacts .contacts__table td:nth-of-type(1) {
  table-layout: fixed;
  width: 76px;
}
.contacts .contacts__button {
  width: 230px;
  margin-top: 102px;
}
.contacts .contacts__map {
  flex: 60%;
  width: 525px;
  height: 457px;
}
.contacts .contacts__map iframe {
  width: 525px;
  height: 457px;
  border: none;
}
