.footer__page {
  height: 160px;
  padding: 0 9.3%;
  background: #f1f1f1;
}
.footer__page_box {
  display: flex;
  flex-direction: column;
}
.footer__page_logo {
  display: none;
}
.social__links {
  padding: 0 12.2%;
  padding-top: 25px;
  height: 79px;
  text-align: center;
}
.social__links a {
  padding-right: 41px;
}
.copyright {
  padding: 0 39px;
  height: 80px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
.copyright span {
  padding-top: 30px;
}
.copyright svg {
  fill: #63d1bb;
  position: relative;
  top: 23px;
}
.copyright__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__page {
    flex-direction: row;
    align-items: center;
    height: 143px;
    padding: 0;
  }
  .footer__page_box {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    padding-top: 50px;
  }
  .footer__page_logo {
    display: block;
    flex: 242px;
  }
  .social__links {
    margin: 0;
    padding: 0;
    flex: 242px;
    padding-top: 5px;
  }
  .copyright {
    margin: 0;
    padding: 0;
    border-top: none;
    flex: 184px;
  }
  .copyright span {
    padding-top: 13px;
  }
  .copyright svg {
    fill: #63d1bb;
    position: relative;
    top: 7px;
  }
  .copyright__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1150px) {
  .footer__page_box {
    width: 1050px;
  }
  .footer__page_logo {
    flex: 400px;
  }
  .social__links {
    flex: 466px;
    text-align: left;
  }
}
