.form__contact {
  min-height: 180px;
  margin-top: 33px;
}
.form__contact input:hover {
  border-color: #62d1ba;
}
.form__contact input:hover + svg {
  opacity: 1;
  fill: #62d1ba;
}
.form__contact input:focus {
  outline: none;
  border-color: #62d1ba;
}
.form__contact input:focus + svg {
  opacity: 1;
  fill: #62d1ba;
}
.form__contact_block {
  height: 90px;
  position: relative;
}
.form__contact_block input {
  width: 100%;
  height: 55px;
  border-bottom: 2px solid #000;
  font-size: 17px;
  line-height: 18px;
}
.form__contact_block input:hover {
  border-color: #62d1ba;
}
.form__contact_block input:focus {
  outline: none;
  border-color: #62d1ba;
}
.form__contact_block svg {
  opacity: 0.2;
  position: absolute;
  top: 30px;
  left: 87%;
}
.form__contact_block svg:hover,
.form__contact_block svg:focus {
  fill: #62d1ba;
}
input::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.3;
}
input::-moz-placeholder {
  color: #444444;
  opacity: 0.3;
}
.form__contact_e-mail {
  margin-top: 12px;
}
.form__contact_e-mail .contact_block::after {
  width: 68.85%;
  left: 31.15%;
}
.form__contact_e-mail svg {
  left: 86%;
}
@media (min-width: 768px) {
  .form__contact {
    height: 228px;
    margin-top: 0;
    padding-top: 69px;
    background: #f1f1f1;
  }
  .form__contact_block {
    display: flex;
    flex-direction: row;
    height: 74px;
  }
  .form__contact_block input {
    position: relative;
    top: -21px;
    width: 501px;
    height: 55px;
    font-size: 19px;
    background: #f1f1f1;
  }
  .form__contact_block svg {
    top: -10px;
    left: 616px;
  }
  .contact_block {
    width: 167px;
  }
  .form__contact_e-mail {
    margin-top: 0px;
  }
  .form__contact_e-mail svg {
    left: 614px;
  }
}
@media (min-width: 1150px) {
  .form__contact_block {
    width: 1050px;
    padding-right: 175px;
  }
  .form__contact_block input {
    width: 700px;
    padding-left: 18px;
  }
  .form__contact_block svg {
    left: 842px;
  }
  .contact_block {
    width: 175px;
    padding-left: 62px;
  }
  .form__contact_e-mail svg {
    left: 839px;
  }
}
