.nav__list {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.nav__item_new,
.nav__item_sale,
.nav__item_delivery {
  display: none;
}
.nav__item {
  height: 79px;
  border-bottom: 1px solid #ececec;
  padding-top: 27px;
  z-index: 10;
  opacity: 0.99;
}
.nav__item_link {
  color: #000;
}
.nav__item_link svg {
  position: absolute;
  margin-top: 3px;
  left: 10%;
  opacity: 0.2;
}
.nav__item_link span {
  padding-left: 23.5%;
}
.nav__item_link:hover {
  opacity: 0.6;
}
.nav__item_link:hover svg {
  fill: #63d1bb;
  opacity: 1;
}
.nav__item_link:hover span {
  opacity: 0.6;
}
.nav__item_link:active {
  opacity: 0.3;
}
.nav__item_link:active svg,
.nav__item_link:active span {
  opacity: 0.3;
}
.nav__item_logo {
  height: 80px;
  border-top: 1px solid #ececec;
  text-align: center;
  padding-top: 21px;
}
.nav__button_menu {
  position: absolute;
  top: 32px;
  right: 10%;
  border: none;
}
.nav__button_menu:focus {
  outline: none;
}
.nav__button_menu_close {
  background: url(/img/icon_menu_open.svg) no-repeat;
  width: 20px;
  height: 14px;
}
.nav__button_menu_open {
  background: url(/img/icon_menu_close.svg) no-repeat;
  width: 21px;
  height: 21px;
  top: 28px;
}
.nav__menu_open {
  display: block;
}
.nav__item_hidden {
  display: none;
}
@media (min-width: 768px) {
  .header__page {
    width: 768px;
  }
  .nav__list {
    display: flex;
    flex-flow: row wrap;
  }
  .nav__item {
    height: 89px;
    text-align: left;
  }
  .nav__item_logo {
    flex: 48%;
    border-top: none;
    padding-top: 22px;
    padding-left: 50px;
  }
  .nav__button_menu {
    display: none;
  }
  .nav__item_catalog {
    display: block;
    position: absolute;
    top: 89px;
    order: 3;
    flex: 28%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 50px;
    border-bottom: none;
  }
  .nav__item_catalog span {
    padding-left: 0;
  }
  .nav__item_order {
    display: block;
    position: absolute;
    top: 89px;
    order: 4;
    flex: 21%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 217px;
    text-align: left;
    border-bottom: none;
  }
  .nav__item_order span {
    padding-left: 0;
  }
  .nav__item_search {
    display: block;
    order: 1;
    flex: 10.9%;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .nav__item_search svg {
    position: relative;
    margin: 0;
    top: 8px;
    left: 34px;
  }
  .nav__item_search span {
    display: none;
  }
  .nav__item_cart {
    display: block;
    order: 2;
    flex: 40.9%;
    text-align: right;
    padding-top: 31px;
    padding-right: 50px;
  }
  .nav__item_cart svg {
    position: relative;
    margin: 0;
    top: 4px;
    left: 21px;
  }
  .nav__item_delivery {
    display: block;
    position: absolute;
    top: 89px;
    order: 5;
    flex: 50%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 494px;
    font-weight: normal;
    padding-right: 50px;
    text-align: right;
    border-bottom: none;
  }
}
@media (min-width: 1150px) {
  .header__page {
    width: 1150px;
  }
  .nav__list {
    display: flex;
    flex-flow: row wrap;
  }
  .nav__item {
    height: 89px;
    text-align: left;
  }
  .nav__item_logo {
    flex: 18.3%;
    order: 1;
    border-top: none;
    padding-top: 9px;
    padding-left: 32px;
  }
  .nav__button_menu {
    display: none;
  }
  .nav__item_catalog {
    display: block;
    position: static;
    flex: 20.3%;
    order: 0;
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
    padding-left: 50px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  .nav__item_catalog span {
    padding-left: 0;
  }
  .nav__item_order {
    display: block;
    position: static;
    flex: 20.3%;
    order: 0;
    font-size: 17px;
    line-height: 24px;
    padding: 32px 0 0 35px;
    text-align: left;
    border-bottom: 1px solid #ececec;
  }
  .nav__item_order span {
    padding-left: 0;
  }
  .nav__item_search {
    display: block;
    flex: 13.3%;
    order: 2;
    text-align: right;
    border-left: none;
    border-right: 1px solid #ececec;
  }
  .nav__item_search svg {
    position: relative;
    margin: 0;
    top: 8px;
    left: -31px;
  }
  .nav__item_search span {
    display: none;
  }
  .nav__item_cart {
    display: block;
    flex: 27.5%;
    order: 2;
    text-align: right;
    padding-top: 31px;
    padding-right: 50px;
  }
  .nav__item_cart svg {
    position: relative;
    margin: 0;
    top: 4px;
    left: 21px;
  }
  .nav__item_new,
  .nav__item_sale,
  .nav__item_delivery {
    order: 3;
  }
  .nav__item_new {
    height: 60px;
    display: block;
    position: absolute;
    top: 89px;
    flex: 23.4%;
    border: none;
    padding: 18px 0 0 50px;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.99;
    z-index: 16;
  }
  .nav__item_sale {
    height: 60px;
    display: block;
    position: absolute;
    top: 89px;
    flex: 23.5%;
    border: none;
    padding-top: 18px;
    padding-left: 270px;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.99;
    z-index: 15;
  }
  .nav__item_delivery {
    display: block;
    flex: 53%;
    height: 60px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-left: 876px;
    font-weight: normal;
    padding-right: 50px;
    text-align: right;
    border-bottom: none;
  }
}
