.product__hit {
  background: url(../img/bg_sine_wave.svg);
  background-position: bottom;
  background-size: auto 6px;
  background-repeat: repeat-x;
}
.product__hit_box {
  display: flex;
  flex-direction: column;
  padding: 0 9.4%;
  padding-bottom: 44px;
  color: #444444;
}
.product__hit_title {
  margin: 0;
  padding-top: 27px;
  text-align: left;
  color: #000;
}
.product__hit_mark {
  display: block;
  padding-top: 4px;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
}
.product__hit_desc {
  padding-top: 23px;
  font-size: 15px;
  line-height: 24px;
}
.product__hit_table {
  margin-top: 18px;
  width: 100%;
  border-collapse: collapse;
}
.product__hit_table td {
  height: 40px;
  border-bottom: 1px solid #ececec;
}
.product__hit_table td:first-child {
  width: 30.6%;
}
.product__hit_table td:last-child {
  width: 50.6%;
}
.product__hit_img {
  text-align: center;
  padding-top: 27px;
}
.product__hit_price {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 19px;
}
.product__hit_button {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .product__hit {
    background-size: auto 17px;
  }
  .product__hit_box {
    flex-wrap: wrap;
    width: 668px;
    height: 627px;
    padding: 0;
  }
  .product__hit_block {
    width: 292px;
  }
  .product__hit_title {
    position: absolute;
    padding-top: 48px;
  }
  .product__hit_mark {
    position: relative;
    top: 55px;
    left: 565px;
    line-height: 17px;
    width: 80px;
    text-align: center;
  }
  .product__hit_desc {
    padding-top: 110px;
    font-size: 17px;
    line-height: 30px;
  }
  .product__hit_table {
    margin-top: 35px;
  }
  .product__hit_img {
    position: relative;
    top: 126px;
    left: 20px;
    order: 1;
    width: 334px;
  }
  .product__hit_price {
    padding-top: 54px;
    width: 292px;
    font-size: 20px;
  }
  .product__hit_button {
    margin-top: 34px;
  }
}
@media (min-width: 1150px) {
  .product__hit {
    background: none;
  }
  .product__hit_box {
    width: 1050px;
    height: 802px;
    background: url(../img/bg_sine_wave.svg);
    background-position: bottom;
    background-size: auto 24px;
    background-repeat: repeat-x;
  }
  .product__hit_block {
    margin-left: 175px;
    padding-top: 84px;
  }
  .product__hit_title {
    padding-top: 39px;
    opacity: 0.99;
    z-index: 5;
  }
  .product__hit_mark {
    position: relative;
    top: 50px;
    left: -133px;
    line-height: 17px;
    width: 80px;
    text-align: center;
  }
  .product__hit_desc {
    padding-top: 106px;
  }
  .product__hit_table {
    margin-top: 48px;
  }
  .product__hit_img {
    top: 50px;
    left: 29px;
    width: 525px;
  }
  .product__hit_button {
    margin-top: 44px;
  }
  .product__hit_price {
    padding-top: 108px;
    margin-left: 175px;
  }
}
