.description {
  width: 100%;
  height: 488px;
  background: url(../img/hero_mobile.jpg);
  background-color: #f9f9f9;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}
.description .description__box {
  display: flex;
  flex-direction: column;
}
.description .description__box .description_title {
  text-align: center;
  margin: 0 auto;
  padding-top: 71px;
}
.description .description__box .description_title .main__title {
  width: 260px;
}
.description .description__box .description_subtitle {
  position: relative;
  top: 121px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  /*&:hover {
        top: 116px;
      }*/
}
.description .description__box .description_subtitle .description_subtitle_item {
  height: 103px;
}
.description .description__box .description_subtitle .description_subtitle_item a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #fff;
}
.description .description__box .description_subtitle .description_subtitle_item a span {
  display: block;
  width: 40.6%;
  padding-top: 27px;
}
.description .description__box .description_subtitle .description_subtitle_item a svg {
  position: relative;
  display: block;
  width: 40.6%;
  left: 20%;
  opacity: 0.5;
}
.description .description__box .description_subtitle .description_subtitle_item:first-child {
  background: #63d1bb;
  padding-left: 9.3%;
}
.description .description__box .description_subtitle .description_subtitle_item:first-child svg {
  top: 24px;
}
.description .description__box .description_subtitle .description_subtitle_item:last-child {
  background: #56c3b2;
  padding-left: 9%;
}
.description .description__box .description_subtitle .description_subtitle_item:last-child svg {
  top: 22px;
}
.description .description__box .description_subtitle .description_subtitle_item:hover {
  height: 108px;
}
.description .description__box .description_subtitle .description_subtitle_item:hover svg {
  opacity: 0.7;
}
.description .description__box .description_subtitle .description_subtitle_item:active span,
.description .description__box .description_subtitle .description_subtitle_item:active svg {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .description {
    position: relative;
    top: -60px;
    width: 100%;
    height: 743px;
    background: url(../img/hero_desktop-tablet.jpg);
    background-color: #f9f9f9;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
  }
  .description::after {
    content: "";
    background: url(../img/bg_sine_wave_fill.svg) repeat-x;
    position: relative;
    top: -15px;
    display: flex;
    width: 100%;
    height: 15px;
    z-index: 8;
  }
  .description .description__box {
    display: flex;
    flex-direction: column;
    height: 743px;
  }
  .description .description__box .description_title {
    margin: 0 auto;
    padding-top: 154px;
  }
  .description .description__box .description_title .main__title {
    width: auto;
  }
  .description .description__box .description_subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 372px;
    font-size: 20px;
    line-height: 30px;
    /*&:hover {
          top: ;
        }*/
  }
  .description .description__box .description_subtitle .description_subtitle_item {
    height: 117px;
    width: 334px;
    /*  &:active {
            span, svg {
              opacity: 0.3;
            }
          }*/
  }
  .description .description__box .description_subtitle .description_subtitle_item a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #fff;
  }
  .description .description__box .description_subtitle .description_subtitle_item a span {
    padding-top: 29px;
    padding-left: 36px;
  }
  .description .description__box .description_subtitle .description_subtitle_item a svg {
    left: 121px;
    opacity: 0.5;
    width: auto;
  }
  .description .description__box .description_subtitle .description_subtitle_item:first-child {
    background: #63d1bb;
    padding-left: 0;
  }
  .description .description__box .description_subtitle .description_subtitle_item:first-child svg {
    top: 30px;
  }
  .description .description__box .description_subtitle .description_subtitle_item:last-child {
    background: #56c3b2;
    padding-left: 0;
  }
  .description .description__box .description_subtitle .description_subtitle_item:last-child svg {
    top: 30px;
    left: 104px;
  }
  .description .description__box .description_subtitle .description_subtitle_item:hover {
    height: 117px;
    /*  svg {
              opacity: 0.7;
            }*/
  }
}
@media (min-width: 1150px) {
  .description__box .description_subtitle {
    top: 352px;
    /*&:hover {
          top: ;
        }*/
  }
  .description__box .description_subtitle .description_subtitle_item {
    height: 117px;
    width: 525px;
    /*  &:active {
            span, svg {
              opacity: 0.3;
            }*/
  }
  .description__box .description_subtitle .description_subtitle_item a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #fff;
  }
  .description__box .description_subtitle .description_subtitle_item a span {
    padding-top: 29px;
    padding-left: 36px;
  }
  .description__box .description_subtitle .description_subtitle_item a svg {
    left: 121px;
    opacity: 0.5;
    width: auto;
  }
  .description__box .description_subtitle .description_subtitle_item:first-child {
    background: #63d1bb;
    padding-left: 0;
  }
  .description__box .description_subtitle .description_subtitle_item:first-child svg {
    top: 30px;
  }
  .description__box .description_subtitle .description_subtitle_item:last-child {
    background: #56c3b2;
    padding-left: 0;
  }
  .description__box .description_subtitle .description_subtitle_item:last-child svg {
    top: 30px;
    left: 104px;
  }
  .description__box .description_subtitle .description_subtitle_item:hover {
    height: 117px;
    /*  svg {
              opacity: 0.7;
            }*/
  }
}
/*
.qqq {
  border: 1px solid green;
  position: absolute;
  top: 0px;
  width: 1344px;
  height: 715px;
  opacity: 0.99;
  z-index: 20;
}
.aaa {
  border: 1px solid red;
  position: absolute;
  top: 80px;
  left: 0px;
  width: 624px;
  height: 1306px;
  opacity: 0.99;
  z-index: 20;

}*/
