.subhead {
  height: 176px;
  background: #f1f1f1;
}
.subhead_title {
  font-size: 27px;
  text-align: center;
  padding-top: 72px;
}
@media (min-width: 768px) {
  .subhead {
    height: 237px;
    background-image: url(../img/bg_sine_wave_fill.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 24px;
  }
  .subhead_title {
    font-size: 43px;
    padding-top: 96px;
  }
}
@media (min-width: 1150px) {
  .subhead {
    height: 271px;
    background-size: auto 34px;
  }
  .subhead_title {
    font-size: 53px;
    padding-top: 96px;
  }
}
