@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";

.advantages {
  height: 829px;
  padding: 0 9.3%;
}

.advantages__title {
  padding-top: 30px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.advantages__item {
  height: 123px;

  p {
    padding-top: 14px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
  }
}

.advantages__item_block {
  display: flex;
  align-items: center;
  height: 38px;

  svg {
    width: 56px;
    position: relative;
    left: -6px;
  }
}

@media @tablet-width {
  .advantages {
    width: 668px;
    height: 600px;
    padding: 0;
  }

  .advantages__title {
    padding-top: 51px;
  }

  .advantages__list {
    flex-wrap: wrap;
    height: 480px;
    margin-top: 50px;
  }

  .advantages__item {
    width: 334px;
    height: 155px;

    p {
      font-size: 20px;
      line-height: 22px;
    }
  }
}

@media @desktop-width {
  .advantages {
    padding: 0 175px;
    padding-top: 62px;
    width: 1050px;
  }

  .advantages__title {
    padding-top: 2px; //
  }

  .advantages__list {
    margin-top: 47px;
  }
}
