.reviews {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 1050px;
  height: 547px;
  padding: 80px 0 0 175px;
  background: url(../img/review_desktop.jpg), url(../img/bg_sine_wave.svg);
  background-position: left top, 130px bottom;
  background-size: auto, 100%;
  background-repeat: no-repeat, repeat-x;

  .reviews__title {
    flex: 80%;
    height: 65px;
  }

  .reviews__button_write {
    flex: 20%;
    height: 105px;

    button {
    width: 100%;
    }
  }

  .reviews__list {
    flex: 100%;
    font-size: 17px;
    line-height: 30px;

    p {
      width: 85%;
    }
  }

  .reviews__author {
    flex: 80%;
    padding-top: 38px;

    .reviews__author_name {
      font-weight: bold;
    }

    span:last-child {
      position: relative;
      top: 10px;
    }
  }

  .reviews__arrows {
    flex: 20%;

    button {
      border: none;
      padding: 47px 17px;
      background: transparent;
    }
  }
}



/*.qqq {
  border: 1px solid red;
  position: absolute;
  top: 2690px;
  width: 1400px;
  height: 14px;
}*/
